################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp28/.vs/ConsoleApp28/v16
/ConsoleApp28/ConsoleApp28/bin/Debug
/ConsoleApp28/ConsoleApp28/obj/Debug
