################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp28/.vs/ConsoleApp28/v16
/ConsoleApp28/ConsoleApp28/bin/Debug
/ConsoleApp28/ConsoleApp28/obj/Debug
/App0909/.vs/App0909/v16
/App0909/App0909/bin/Debug
/App0909/App0909/obj/Debug
/ExpApp/.vs/ExpApp/v16
/ExpApp/ExpApp/bin/Debug
/ExpApp/ExpApp/obj/Debug
/FactApp/.vs/FactApp/v16
/FactApp/FactApp/bin/Debug
/FactApp/FactApp/obj/Debug
/NODApp/.vs/NODApp/v16
/NODApp/NODApp/bin/Debug
/NODApp/NODApp/obj/Debug
/ArrayApp/.vs/ArrayApp/v16
/ArrayApp/ArrayApp/bin/Debug
/ArrayApp/ArrayApp/obj/Debug
/MegeArr/.vs/MegeArr/v16
/MegeArr/MegeArr/bin/Debug
/MegeArr/MegeArr/obj/Debug
/ArrayApp/ArrayApp/obj/Release
/MatrixApp/.vs/MatrixApp/v16
/MatrixApp/MatrixApp/bin/Debug
/MatrixApp/MatrixApp/obj/Debug
