################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp28/.vs/ConsoleApp28/v16
/ConsoleApp28/ConsoleApp28/bin/Debug
/ConsoleApp28/ConsoleApp28/obj/Debug
/App0909/.vs/App0909/v16
/App0909/App0909/bin/Debug
/App0909/App0909/obj/Debug
/ExpApp/.vs/ExpApp/v16
/ExpApp/ExpApp/bin/Debug
/ExpApp/ExpApp/obj/Debug
/FactApp/.vs/FactApp/v16
/FactApp/FactApp/bin/Debug
/FactApp/FactApp/obj/Debug
/NODApp/.vs/NODApp/v16
/NODApp/NODApp/bin/Debug
/NODApp/NODApp/obj/Debug
/ArrayApp/.vs/ArrayApp/v16
/ArrayApp/ArrayApp/bin/Debug
/ArrayApp/ArrayApp/obj/Debug
/MegeArr/.vs/MegeArr/v16
/MegeArr/MegeArr/bin/Debug
/MegeArr/MegeArr/obj/Debug
/ArrayApp/ArrayApp/obj/Release
/MatrixApp/.vs/MatrixApp/v16
/MatrixApp/MatrixApp/bin/Debug
/MatrixApp/MatrixApp/obj/Debug
/ListApp/.vs/ListApp/v16
/ListApp/ListApp/bin/Debug
/ListApp/ListApp/obj/Debug
/ListApp/ListApp/obj/Release
/MethodsApp/.vs/MethodsApp/v16
/MethodsApp/MethodsApp/bin/Debug
/MethodsApp/MethodsApp/obj/Debug
/Matrix2/.vs/Matrix2/v16
/Matrix2/Matrix2/obj
/Matrix3/.vs/Matrix3/v16
/Matrix3/Matrix3/bin/Debug
/Matrix2
/Matrix3/Matrix3/obj/Debug
/RecursionApp/.vs/RecursionApp/v16
/RecursionApp/RecursionApp/bin/Debug
/RecursionApp/RecursionApp/obj/Debug
/App0909/App0909/obj/Release
/AppSort/.vs/AppSort/v16
/AppSort/AppSort/bin/Debug
/AppSort/AppSort/obj
/ConsoleApp28/ConsoleApp28/obj/Release
/ExpApp/ExpApp/obj/Release
/Matrix3/Matrix3/obj/Release
/RecursionApp/RecursionApp/obj/Release
/MethodsApp/MethodsApp/obj/Release
/MatrixApp/MatrixApp/obj/Release
/FractionApp/FractionApp/bin/Debug
/FractionApp/.vs/FractionApp/v16
/FractionApp/FractionApp/obj
